<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="www.silver.IF_PostDAO">
	<insert id="insertpost" parameterType="www.silver.VO.PostVO">
	
	<selectKey keyProperty = "postNumber" resultType="int" order="BEFORE">
		select post_seq.nextval from dual
	</selectKey>
		insert into posts values(#{postNumber} ,
								#{opencheck}, 
								#{title}, 
								#{writer}, 
								#{inwrite}, 
								sysdate, 
								#{views})
	</insert>
	

</mapper>


